html {
    scroll-snap-type: y mandatory;
}

.App {
    background-color: black;
    height: 100vh;
    display: grid;
    place-items: center;
}

.app_video {
    max-height: 800px;
    height: 100vh;
    max-width: 500px;
    width: 80%;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    position: relative;
}

/* Hide the scrollbar from chrome, safari e opera */
.app_video::-webkit-scrollbar {
    display: none;
}

/* Hide the scrollbar from internet explorer, edge e firefox */
.app_video {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media only screen and (max-width: 440px){
    .app_video{
        width: 100%;
    }
}